
/* menu do site mais video */
#header {
    background-color: pink;
    height: 600px;
}




/* divisão que fala do projeto bunekas */
#projeto {
    height: 400px;
    margin-top: 15px;
}

#texto {
    background-color:rgb(218, 186, 219);
    border-radius: 40px;
}

#projeto > #texto > p {
    text-align: justify;
    width: 400px;
    
}

#foto {
    background-image: url(../imagens/buneka.jpeg);
}


/*bunekodromo*/
#bunekometro {
    height: 200px;
    background-color: orange;
    margin-top: 15px;
}


/* mas por que a Africa */
#mas-pq{
    height: 400px;
    background-image: url(../imagens/crianca.jpeg);
    margin-top: 15px;
}


/* localização */
#local {
    height: 400px;
    margin-top: 15px;
}

/* Essa parte refere-se aos itens do Google maps */
#map {
    height: 300px;
    width: 500px;
  }


/* footer */

#footer {
    height: 150px;
    background-color: black;
    margin-top: 15px;
}

